<!doctype html>
<html lang="en">
  <head>
      {% load static %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Zachary McGuire">
      <title>Confluent · {% block title %}{% endblock %}</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
  {% if not user.is_authenticated %}
  <p>Please <a href="{% url 'web-login' %}">login.</a></p>
  {% else %}
    <div id="sidebar">
        <ul>
            {% for page in pages %}
            <li><a href="{% url 'web-page-detail' page.id %}">{{ page.title }}</a></li>
            {% endfor %}
            <li><a href="{% url 'web-logout' %}">Logout</a></li>
        </ul>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>
{% endif %}